Authlib
deep-translator
google-generativeai
groq
kaggle
matplotlib
Pint
plotly
pygame
pymultidictionary
PyPDF2
pyperclip
pyshorteners
python-barcode
pytz
qrcode
speedtest-cli
spotipy
streamlit
tensorflow
tf_keras
transformers
