Authlib
deepface
deep-translator
faiss-cpu
google-generativeai
groq
kaggle
langchain_community
langchain_core
langchain_google_genai
langchain_groq
langchain_text_splitters
matplotlib
mtcnn
opencv-python-headless
Pint
plotly
pygame
pymultidictionary
pypdf
PyPDF2
pyperclip
pyshorteners
python-barcode
python-dotenv
pytz
qrcode
speedtest-cli
spotipy
streamlit
tensorflow
tf_keras
transformers
